.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    align-items: center;
    justify-content: center;
    color: black;
}

.modal__content {
    display: flex;
    justify-content: center;
    background-color:white;
    padding: 20px 20px;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__title {
    margin-bottom: 30px;
}

.modal__input {
    background-color: transparent;
    border-radius: 6px;
    margin-bottom: 40px;
    color: black
}